# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm specific
.idea/
*.iml
*.iws
*.ipr

# Pytest cache
.cache

# mypy
.mypy_cache/

# Flask coverage directory
htmlcov/

# Editor backups
*.swp

# MacOS stuff
.DS_Store

# Python virtual environments
.venv
